/* start globl */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Khula', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #0B093B;
    --border-color: #707070;
    --basic-color: #751fff;
    --sub-color: #F2B300;
    --bagr-color: #F5F5F5;
    --main-padding: 100px 0;
    --line-height: 1.8;
}

p {
    line-height: var(--line-height);
}

ul {
    list-style: none;
}

/* FONT SIZES */

.font13 {
    font-size: 0.813rem;
}

.font15 {
    font-size: 0.938rem;
}

.font18 {
    font-size: 1.125rem;
}

.font20 {
    font-size: 1.25rem;
}

.font30 {
    font-size: 1.875rem;
}

.font40 {
    font-size: 2.5rem;
}

.font60 {
    font-size: 3.75rem;
    line-height: 4.5rem;
}

@media (max-width: 991px) {

    .font13 {
        font-size: 0.75rem;
    }

    .font15 {
        font-size: 0.813rem;
    }

    .font20 {
        font-size: 1.125rem;
    }

    .font30 {
        font-size: 1.5rem;
    }

    .font40 {
        font-size: 1.875rem;
    }

    .font60 {
        font-size: 2.8rem;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Small devices */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium  devices */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large large devices */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.btn {
    padding: 15px 60px;
    font-size: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 20px 0 0;
}

@media (max-width: 768px) {
    .btn {
        padding: 10px 15px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .btn {
        padding: 10px 40px;
    }
}

.btn-1 {
    background-color: var(--basic-color);
    color: #fff;
    margin-right: 5px;
}

.btn-1:hover {
    background-color: #580cd2;
}

.btn-2 {
    color: var(--border-color);
    border: 1px solid var(--border-color);
    margin-left: 5px;
    background-color: transparent;
}

.btn-2:hover {
    border: 1px solid var(--basic-color);
    color: var(--basic-color);
}

/* end globl */
/* start header  */
.header {
    padding: 20px 0;
    font-weight: 600;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container ul {
    display: flex;
}

@media (max-width: 768px) {
    .header .container ul {
        display: none;
    }
}

.header .container ul a {
    padding: 10px;
    cursor: pointer;
    color: var(--main-color);
    text-decoration: none;
    border: 2px solid transparent;
}

.header .container ul a:hover {
    color: var(--basic-color);
    border-bottom-color: var(--basic-color);
}

.header .container .login a {
    text-decoration: none;
    color: var(--main-color);
}

@media (max-width: 768px) {
    .header .container .login {
        display: none;
    }
}

.header .container .login :hover {
    color: var(--basic-color);
}

.header .container .login a:first-child {
    margin-right: 15px;
}

.header .container .login a:last-child {
    background-color: var(--bagr-color);
    padding: 10px 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.header .container i {
    font-size: 25px;
    color: var(--main-color);
}

@media (min-width: 768px) {
    .header .container i {
        display: none;
    }
}

/* end header */
/* start landing */

.landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (max-width: 768px) {
    .landing .container {
        flex-direction: column;
    }
}

.landing .container .text h1 {
    font-weight: 800;
}

.landing .container .text p {
    max-width: 470px;
    font-weight: 600;
}

.landing .container .photo {
    position: relative;
}

.landing .container .photo img {
    width: 470px;
    border-radius: 20px 80px;
}

@media (max-width: 768px) {
    .landing .container .photo {
        text-align: center;
    }

    .landing .container .photo img {
        width: 280px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .landing .container .photo img {
        width: 340px;
    }
}

.landing .container .photo .explain {
    position: absolute;
    bottom: 7px;
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 20px;
    font-style: italic;
}

@media (max-width: 768px) {
    .landing .container .photo .explain {
        padding: 20px 15px;
    }

    .landing .container .photo .explain :last-child {
        margin-top: 10px;
    }
}

.landing .container .photo .explain :last-child {
    color: #F2B300;
    text-align: right;
}

/* end landing */
/* start View photos */
.View-photos {
    background-color: var(--bagr-color);
}

.View-photos .container .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0;
}

@media (max-width: 768px) {
    .View-photos .container .content {
        justify-content: center;
        gap: 20px;
    }
}

.View-photos .container .content img {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    width: 90px;
}

.View-photos .container .content img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

/* end View photos */
/* start Services-1 */
.Services {
    padding: var(--main-padding);
}

.Services .container .text {
    margin-bottom: 40px;
}

.Services .container .text h2 {
    font-weight: 800;
    margin: 10px 0;
    color: var(--main-color);
}

.Services .container .centent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 40px 20px;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .Services .container .centent {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
}

@media (max-width: 768px) {
    .Services .container .centent {
        grid-template-columns: 1fr;
    }
}

.Services .container .centent .box .flex {
    display: flex;
}

.Services .container .centent .box i {
    margin-right: 15px;
    font-size: 25px;
    color: #F2B300;
    padding: 0;
}

.Services .container .centent .box i::before {
    margin: 0;
}

.Services .container .centent .box h2 {
    margin-bottom: 20px;
    font-weight: 900;
}

.Services .container .centent .box p {
    color: #707070;
}

/* end Services-1 */
/* start Creativity */
.Creativity {
    background-color: var(--bagr-color);
}

@media (max-width: 768px) {
    .Creativity {
        padding: 40px 0;
    }
}

.Creativity .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .Creativity .container {
        flex-direction: column;
        text-align: center;
    }
}

.Creativity .container p:first-child {
    font-weight: 600;
}

.Creativity .container h2 {
    font-weight: 800;
    margin: 10px 0;
    color: var(--main-color);
}

.Creativity .container p[class="font13"] {
    font-weight: 400;
    color: #707070;
    max-width: 470px;
}

.Creativity .container img {
    animation: img;
    -webkit-animation: img infinite 3s ease-in-out;
}

@media (max-width: 768px) {
    .Creativity .container img {
        max-width: 290px;
        margin-top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .Creativity .container img {
        width: 350px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .Creativity .container img {
        width: 400px;
    }
}

@media (min-width: 1200px) {
    .Creativity .container img {
        max-width: 600px;
    }
}

@keyframes img {
    0% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
    }

    100% {
        transform: translateY(-0px);
        -webkit-transform: translateY(-0px);
        -moz-transform: translateY(-0px);
        -ms-transform: translateY(-0px);
        -o-transform: translateY(-0px);
    }
}

/* end Creativity */
/* start Projects */
.Projects {
    padding: var(--main-padding);
}

.Projects .container h2 {
    font-weight: 800;
    margin: 10px 0;
    color: var(--main-color);
}

.Projects .container h3 {
    margin: 5px 0 10px;
    color: var(--main-color);
}

.Projects .container .cont-proj {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px 20px;
    text-align: center;
    margin-top: 40px;
}

.Projects .container .cont-proj img {
    width: 367px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: opacity.2s;
    -webkit-transition: opacity.2s;
    -moz-transition: opacity.2s;
    -ms-transition: opacity.2s;
    -o-transition: opacity.2s;
}

.Projects .container .cont-proj img:hover {
    opacity: .6;
    cursor: pointer;
}

@media(max-width: 768px) {
    .Projects .container .cont-proj img {
        width: 250px;
    }

    .Projects .container .cont-proj .text {
        width: 250px;
        margin: 0 auto;
    }
}

@media (min-width: 991px) and (max-width: 1200px) {
    .Projects .container .cont-proj img {
        width: 300px;
    }

    .Projects .container .cont-proj .text {
        width: 300px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .Projects .container .cont-proj img {
        width: 350px;
    }

    .Projects .container .cont-proj .text {
        width: 350px;
    }
}

.Projects .container .btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    padding: 15px;
    width: 200px;
    margin: 40px 0 0;
}

/* end Projects */
/* start Creativity-2 */
.Creativity-2 .container {
    display: flex;
    flex-direction: row-reverse;
    padding: 60px 15px;
}

@media (max-width: 768px) {
    .Creativity-2 .container {
        flex-direction: column;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .Creativity-2 .container img {
        width: 330px;
        margin-right: 40px;
    }
}

.Creativity-2 .container img {
    animation: none;
    -webkit-animation: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.432);
}

@media (max-width: 768px) {
    .Creativity-2 .container img {
        margin-top: 40px;
        width: 260px;
    }
}

/* end Creativity-2 */
/* start Stories */

.Stories {
    padding: var(--main-padding);
}

.Stories .container h2 {
    font-weight: 800;
    margin: 10px 0;
    color: var(--main-color);
}

.Stories .container .activ {
    color: var(--main-color);
    margin-bottom: 40px;
}

.Stories .container .cont-stor {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px 20px;
}

@media (max-width: 768px) {
    .Stories .container .cont-stor {
        grid-template-columns: 1fr;
    }
}
.Stories .container .cont-stor .box {
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.Stories .container .cont-stor .box h3 {
    margin-bottom: 20px;
    font-family: 800;
}

.Stories .container .cont-stor .box .lorem {
    margin-bottom: 20px;
}

.Stories .container .cont-stor .box .luky {
    font-weight: 700;
}

.Stories .container .cont-stor .box .company {
    background-color: #F2B300;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: #fff;
}

/* end Stories */
/* start blog  */
.Blog {
    background-color: var(--bagr-color);
    padding: var(--main-padding);
}

.Blog h2 {
    font-weight: 800;
    margin: 10px 0;
    color: var(--main-color);
}

.Blog p[ class="font13 activ"] {
    color: var(--main-color);
    margin-bottom: 40px;
}

.Blog .cont-Blog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px 20px;
    justify-content: space-between;
}


@media (max-width: 768px) {
    .Blog .cont-Blog {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .Blog .cont-Blog {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
}

.Blog .cont-Blog .blog {
    background-color: var(--main-color);
    color: #fff;
    padding: 60px 15px 30px;
    position: relative;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-style: italic;
}

@media (max-width: 300px) {
    .Blog .cont-Blog .blog {
        width: 265px;
        padding: 60px 5px 30px;
    }
}

.Blog .cont-Blog .blog svg {
    position: absolute;
    top: 0;
    left: 90%;
    transform: translatex(-95%) rotate(140deg);
    -webkit-transform: translatex(-95%) rotate(140deg);
    -moz-transform: translatex(-95%) rotate(140deg);
    -ms-transform: translatex(-95%) rotate(140deg);
    -o-transform: translatex(-95%) rotate(140deg);
}

.Blog .cont-Blog .blog p:nth-child(3) {
    margin-top: 10px;
    text-align: right;
    color: var(--sub-color);
}

/* end blog  */

/* end Pricing */
.Pricing {
    padding: var(--main-padding);
}

.Pricing h2 {
    font-weight: 800;
    margin: 10px 0;
    color: var(--main-color);
}

.Pricing p[class="font13 activ"] {
    color: var(--main-color);
    margin-bottom: 40px;
}


.Pricing .cont-pric {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px 20px;
}

@media (max-width: 992px) {
    .Pricing .cont-pric {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
}

@media (max-width: 768px) {
    .Pricing .cont-pric {
        grid-template-columns: 1fr;

    }
}

.Pricing .cont-pric .pric .flex {
    display: flex;
    align-items: center;
}

.Pricing .cont-pric .pric .first {
    justify-content: space-between;
}

.Pricing .cont-pric .pric {
    padding: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.123);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.Pricing .cont-pric .pric .first {
    margin-bottom: 10px;
}


.Pricing .cont-pric .pric .first p:last-child {
    font-weight: 800;
    font-size: 35px;
}

@media (max-width: 992px) {
    .Pricing .cont-pric .pric .first p:last-child {
        font-weight: 800;
        font-size: 25px;
    }
}

.Pricing .cont-pric .pric .first p:first-child {
    font-weight: 800;
    font-size: 35px;
    color: #F2B300;
}

.Pricing .cont-pric .pric h3 {
    font-weight: 700;
}

.Pricing .cont-pric .pric h3~p {
    margin-bottom: 30px;
}

.Pricing .cont-pric .pric i,
.Pricing .cont-pric .pric h4 {
    margin-bottom: 15px;
}

.Pricing .cont-pric .pric h4 {
    margin-left: 10px;
}

.Pricing .cont-pric .pric i.green {
    color: rgb(0, 212, 0);
    font-size: 20px;
}

.Pricing .cont-pric .pric i.red {
    color: rgb(212, 49, 0);
    font-size: 20px;
}

/* end Pricing */
/* start Contact */
.Contact {
    padding: var(--main-padding);
    background-color: var(--bagr-color);
}

.Contact h2 {
    font-weight: 800;
    margin: 10px 0;
    color: var(--main-color);
}

.Contact p[ class="font13 activ"] {
    color: var(--main-color);
    margin-bottom: 40px;
}

.Contact .cont-contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 40px 100px;
}

@media (max-width: 992px) {
    .Contact .cont-contact {
        grid-template-columns: 1fr;
    }
}

.Contact .cont-contact .cont input {
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
    background-color: var(--bagr-color);
    outline: none;
    border: none;
    border-bottom: 1px solid var(--border-color);
    color: #F2B300;
}

.Contact .cont-contact .cont textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 0px;
    background-color: var(--bagr-color);
    outline: none;
    border: none;
    border-bottom: 1px solid var(--border-color);
    color: #F2B300;
    resize: none;
}

@media (max-width: 768px) {
    .Contact .cont-contact .cont textarea {
        height: 60px;
    }
}

.btn {
    margin-bottom: 20px;
}

.Contact .cont-contact .photo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.Contact .cont-contact .photo img {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

@media (max-width: 992px) {
    .Contact .cont-contact .photo {
        justify-content: center;
    }
}

.Contact .cont-contact .photo .column {
    width: 180px;
}

@media (max-width: 500px) {
    .Contact .cont-contact .photo .column img {
        width: 120px;
    }

    .Contact .cont-contact .photo .column {
        width: 120px;
    }

    .Contact .cont-contact .photo img {
        width: 150px;
    }
}

/* end Contact */
/* start footer */
.footer {
    padding: 20px 0;
    background-color: var(--main-color)
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .footer .container img {
        width: 60px !important;
    }
}

.footer .container p {
    color: white;
}

@media (max-width: 600px) {
    .footer .container p {
        font-size: 13px;
    }
}

.footer .container p span {
    color: var(--basic-color);
}

.footer .container a {
    text-decoration: none;
    color: #580cd2;
}

.footer .container a:hover {
    text-decoration: underline;
}

@media (max-width: 367.5px) {
    .footer .container a {
        margin: 10px auto 0;
    }
}

/* end footer */